.gallery__image {
  display: block;
}

.gallery__image--caption {
  background-color: #f2f2f2;
  min-height: 155px;
}

/*Сетка mobile*/
@media (min-width: $mobile) {
  .gallery__title {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    margin: 0 auto;
    text-align: center;
    width: 245px;
    padding-top: 27px;
    padding-bottom: 35px;
  }

  .gallery__list {
    display: block;
    list-style: none;
    padding: 0 10px;
  }

  .gallery__item {
    background-color: #f2f2f2;
    margin-bottom: 19px;
  }

  .gallery__info {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    margin-top: auto;
    padding: 11px 77px 20px 6px;
    margin-right: 57px;
  }

  .gallery__icon {
    fill: #d22856;
  }

  .gallery__name {
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 10px;
  }

  .gallery__text--wrapper {
    padding-left: 16px;
    padding-right: 0;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__author {
    font-size: 14px;
    font-weight: 700;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 6px 24px 6px 19px;
    right: 22px;
    top: 0;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }

  .gallery__img {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  .gallery__item--first {
    width: 100%;
  }

  .gallery__image--panorama {
    max-width: none;
    width: 100%;
  }

  .gallery__image {
    max-width: none;
    width: 100%;
  }
}

/*Сетка tablet*/
@media (min-width: $tablet) {
  .gallery {
    padding-bottom: 8px;
  }

  .gallery__title {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    width: 440px;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 39px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .gallery__item__panorama {
    width: 100%;
  }

  .gallery__image--panorama {
    display: block;
    height: 509px;
  }

  .gallery__img {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  .gallery__image {
    width: 100%;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    position: relative;
    margin-bottom: 20px;
  }

  .gallery__item--first {
    width: 100%;
    margin-bottom: 50px;
  }

  .gallery__item--tablet {
    width: 300px;
  }

  .gallery__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 23px;
    margin-top: auto;
    padding-left: 28px;
    padding-right: 31px;
    margin-right: 0;
  }

  .gallery__info--panorama {
    position: absolute;
    right: -4px;
    bottom: 49px;
  }

  .gallery__info--secondrow {
    margin-top: 22px;
  }

  .gallery__icon {
    fill: #d22856;
  }

  .gallery__name {
    padding-left: 27px;
    padding-right: 41px;
    padding-top: 24px;
  }

  .gallery__text--wrapper {
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__text--panorama {
    padding-bottom: 26px;
  }

  .gallery__like--panorama {
    padding-right: 17px;
  }

  .gallery__author {
    font-weight: 700;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600px;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 6px 20px 6px;
    right: 20px;
    top: 57px;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #d22856;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .gallery {
    padding-bottom: 10px;
  }

  .gallery__title--wrapper {
    text-align: center;
    padding-top: 41px;
    padding-bottom: 90px;
  }

  .gallery__title {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    width: 640px;
    padding-bottom: 0;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    margin-top: -12px;
    padding-right: 0;
    margin-bottom: 0;
  }

  .gallery__item__panorama {
    width: 100%;
  }

  .gallery__image--panorama {
    display: block;
    height: auto;
  }

  .gallery__item--first {
    width: 100%;
  }

  .gallery__img {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  .gallery__image {
    width: 100%;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    position: relative;
    margin-bottom: 51px;
  }

  .gallery__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 23px;
    margin-top: auto;
    padding-left: 28px;
    padding-right: 31px;
    margin-right: 0;
  }

  .gallery__icon {
    fill: #d22856;
  }

  .gallery__name {
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text--wrapper {
    padding-left: 27px;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__author {
    font-weight: 700;
  }

  .gallery__info--panorama {
    position: absolute;
    right: 0;
    bottom: 24px;
  }

  .gallery__like--panorama {
    padding-right: 18px;
  }

  .gallery__text--panorama {
    padding-bottom: 23px;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  .gallery__info--secondrow {
    margin-top: 26px;
  }

  .gallery__item--secondrow {
    margin-bottom: 39px;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 7px 20px 5px;
    right: 130px;
    top: 54px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }
}
