.gallery__image {
  display: block;
}

.gallery__image--caption {
  background-color: #f2f2f2;
  min-height: 155px;
}

/*Сетка mobile*/
@media (min-width: $mobile) {
  .gallery__title {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    margin: 0 auto;
    text-align: center;
    width: 245px;
    padding-top: 27px;
  }

  .gallery__list {
    display: block;
    list-style: none;
    padding-left: 22px;
  }

  .gallery__item {
    background-color: #f2f2f2;
    width: 280px;
    margin-bottom: 54px;
  }

  .gallery__info {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 23px;
    margin-top: auto;
    padding-left: 28px;
    padding-right: 31px;
  }

  .gallery__icon {
    fill: #d22856;
  }

  .gallery__name {
    padding-top: 31px;
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text--wrapper {
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__author {
    font-size: 14px;
    font-weight: 700;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 7px 23px 6px;
    right: 36px;
    top: 57px;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }

  /* ФОРМА */

  .gallery__edit {
    margin-bottom: 0;
  }

  .gallery__edit__form {
    background-color: #f2f2f2;
    padding-bottom: 57px;
  }

  .gallery__edit__form-wrapper {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 57px;
  }

  .gallery__edit__wrapper {
    margin-bottom: 66px;
  }

  .gallery__edit-image {
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-right: 30px;
  }

  .gallery__edit-header {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    margin: 0;
  }

  .gallery__controls {
    top: 119px;
    width: 100%;
    height: 36px;
    margin-left: 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #dddfe0;
  }

  .gallery__tools-list {
    position: relative;
  }

  .gallery__controls-scale {
    position: relative;
    box-sizing: border-box;
    margin: 6px auto 0;
    z-index: 1;
    width: 202px;
    padding-right: 20px;
    padding-left: 30px;
  }

  .gallery__controls-bar {
    height: 2px;
    background-color: #283645;
    margin-top: 19px;
  }

  .gallery__controls-toggle {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 14px;
    height: 15px;
    top: -6px;
    left: 14px;
    background-color: #f2f2f2;
    border: 2px solid #cd2856;
    border-radius: 50%;
  }

  .gallery__controls-toggle--crop {
    left: 146px;
  }

  .gallery__controls-toggle--size {
    left: 25px;
  }

  .gallery__controls-toggle--contrast {
    left: 96px;
  }

  .gallery__tool {
    position: absolute;
    fill: #d22856;
  }

  .gallery__tool--crop {
    top: -23px;
    left: -3px;
  }

  .gallery__tool--size {
    top: 52px;
  }

  .gallery__tool--contrast {
    top: 127px;
    left: 6px;
  }

  .gallery__tool:hover {
    fill: #283645;
    opacity: 0.5;
  }

  .gallery-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 72px;
  }

  .gallery__tool-button {
    display: block;
    box-sizing: border-box;
    width: 260px;
    padding: 14px 38px 17px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: none;
    background-color: #f2f2f2;
  }

  .gallery__tool-button:first-child {
    margin-bottom: 24px;
  }

  .gallery__tool-button--submit {
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 30px;
  }

  .gallery__tool-button--submit:hover {
    color: #ffffff;
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .gallery__tool-button--submit:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .gallery__tool-button--reset {
    color: #283645;
    opacity: 0.1;
    border: solid 3px #283645;
    border-radius: 30px;
    background-color: none;
  }

  .gallery__tool-button--reset:hover {
    color: #283645;
    opacity: 0.3;
    border: 3px solid #283645;
    border-radius: 30px;
  }

  .gallery__tool-button--reset:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #283645;
    border-radius: 30px;
    background-color: #283645;
  }

  .gallery__size--tablet {
    height: 22px;
    width: 22px;
  }
}

/*Сетка tablet*/
@media (min-width: $tablet) {
  .gallery__title {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    width: 440px;
    margin: 0 auto;
    padding-top: 51px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    padding-right: 0;
  }

  .gallery__item__panorama {
    width: 100%;
  }

  .gallery__image--panorama {
    display: block;
  }

  .gallery__item--first {
    width: 100%;
  }

  .gallery__img {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  .gallery__image {
    width: 100%;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  .gallery__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 23px;
    margin-top: auto;
    padding-left: 28px;
    padding-right: 31px;
  }

  .gallery__icon {
    fill: #d22856;
  }

  /*.gallery__like::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: 32px;
    top: 35%;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }*/

  .gallery__name {
    padding-top: 31px;
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text--wrapper {
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__author {
    font-weight: 700px;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600px;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 7px 23px 6px;
    right: 36px;
    top: 57px;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }

  /* ФОРМА */

  .gallery__edit {
    margin-bottom: 0;
  }

  .gallery__edit__form {
    background-color: #f2f2f2;
    padding-bottom: 57px;
  }

  .gallery__edit__form-wrapper {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 57px;
  }

  .gallery__edit__wrapper {
    margin-bottom: 66px;
  }

  .gallery__edit-image {
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-right: 30px;
  }

  .gallery__edit-header {
    font-size: 18px;
    line-height: 20px;
    color: #283645;
    text-align: center;
    margin: 0;
  }

  .gallery__controls {
    top: 119px;
    width: 100%;
    height: 36px;
    margin-left: 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #dddfe0;
  }

  .gallery__tools-list {
    position: relative;
  }

  .gallery__controls-scale {
    position: relative;
    box-sizing: border-box;
    margin: 6px auto 0;
    z-index: 1;
    width: 202px;
    padding-right: 20px;
    padding-left: 30px;
  }

  .gallery__controls-bar {
    height: 2px;
    background-color: #283645;
    margin-top: 19px;
  }

  .gallery__controls-toggle {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 14px;
    height: 15px;
    top: -6px;
    left: 14px;
    background-color: #f2f2f2;
    border: 2px solid #cd2856;
    border-radius: 50%;
  }

  .gallery__controls-toggle--crop {
    left: 146px;
  }

  .gallery__controls-toggle--size {
    left: 25px;
  }

  .gallery__controls-toggle--contrast {
    left: 96px;
  }

  .gallery__tool {
    position: absolute;
    fill: #d22856;
  }

  .gallery__tool--crop {
    top: -23px;
    left: -3px;
  }

  .gallery__tool--size {
    top: 52px;
  }

  .gallery__tool--contrast {
    top: 127px;
    left: 6px;
  }

  .gallery__tool:hover {
    fill: #283645;
    opacity: 0.5;
  }

  .gallery-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 72px;
  }

  .gallery__tool-button {
    display: block;
    box-sizing: border-box;
    width: 260px;
    padding: 14px 38px 17px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: none;
    background-color: #f2f2f2;
  }

  .gallery__tool-button:first-child {
    margin-bottom: 24px;
  }

  .gallery__tool-button--submit {
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 30px;
  }

  .gallery__tool-button--submit:hover {
    color: #ffffff;
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .gallery__tool-button--submit:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .gallery__tool-button--reset {
    color: #283645;
    opacity: 0.1;
    border: solid 3px #283645;
    border-radius: 30px;
    background-color: none;
  }

  .gallery__tool-button--reset:hover {
    color: #283645;
    opacity: 0.3;
    border: 3px solid #283645;
    border-radius: 30px;
  }

  .gallery__tool-button--reset:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #283645;
    border-radius: 30px;
    background-color: #283645;
  }

  .gallery__size--tablet {
    height: 22px;
    width: 22px;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .gallery__title--wrapper {
    text-align: center;
    padding-top: 92px;
    padding-bottom: 90px;
  }

  .gallery__title {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    width: 640px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    margin-top: -12px;
    padding-right: 0;
    margin-bottom: 0;
  }

  .gallery__item__panorama {
    width: 100%;
  }

  .gallery__image--panorama {
    display: block;
  }

  .gallery__item--first {
    width: 100%;
  }

  .gallery__img {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  .gallery__image {
    width: 100%;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    position: relative;
  }

  .gallery__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 23px;
    margin-top: auto;
    padding-left: 28px;
    padding-right: 31px;
  }

  .gallery__icon {
    fill: #d22856;
  }

  /*.gallery__like::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: 32px;
    top: 35%;

  }*/

  .gallery__name {
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text--wrapper {
    padding-left: 27px;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__author {
    font-weight: 700;
  }

  .gallery__info--panorama {
    position: absolute;
    right: 0;
    bottom: 18px;
  }

  .gallery__like--panorama {
    padding-right: 21px;
  }

  .gallery__text--panorama {
    padding-bottom: 18px;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  .gallery__info--secondrow {
    margin-top: 26px;
  }

  .gallery__item--secondrow {
    margin-bottom: 39px;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 7px 23px 6px;
    right: 130px;
    top: 54px;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }

  /* ФОРМА */

  .gallery__edit {
    margin-bottom: 23px;
  }

  .gallery__edit__form {
    background-color: #f2f2f2;
    padding-bottom: 57px;
  }

  .gallery__edit__form-wrapper {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 57px;
  }

  .gallery__edit__wrapper {
    margin-bottom: 66px;
  }

  .gallery__edit-image {
    width: 300px;
    height: 400px;
    margin-left: 80px;
    margin-right: 90px;
  }

  .gallery__edit-header {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    margin: 0;
  }

  .gallery__controls {
    top: 119px;
    width: 100%;
    height: 36px;
    margin-left: 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #dddfe0;
  }

  .gallery__tools-list {
    position: relative;
  }

  .gallery__controls-scale {
    position: relative;
    box-sizing: border-box;
    margin: 6px auto 0;
    z-index: 1;
    width: 410px;
    padding-right: 30px;
    padding-left: 92px;
  }

  .gallery__controls-bar {
    height: 2px;
    background-color: #283645;
    margin-top: 19px;
  }

  .gallery__controls-toggle {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 14px;
    height: 15px;
    top: -6px;
    left: 14px;
    background-color: #f2f2f2;
    border: 2px solid #cd2856;
    border-radius: 50%;
  }

  .gallery__controls-toggle--crop {
    left: 163px;
  }

  .gallery__controls-toggle--size {
    left: 339px;
  }

  .gallery__controls-toggle--contrast {
    left: 252px;
  }

  .gallery__tool {
    position: absolute;
    fill: #d22856;
  }

  .gallery__tool--crop {
    top: -23px;
    left: -3px;
  }

  .gallery__tool--size {
    top: 52px;
  }

  .gallery__tool--contrast {
    top: 127px;
    left: 6px;
  }

  .gallery__tool:hover {
    fill: #283645;
    opacity: 0.5;
  }

  .gallery-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 146px;
  }

  .gallery__tool-button {
    display: block;
    box-sizing: border-box;
    width: 183px;
    padding: 14px 38px 17px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: none;
    background-color: #f2f2f2;
  }

  .gallery__tool-button:first-child {
    margin-bottom: 0;
  }

  .gallery__tool-button--submit {
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 30px;
  }

  .gallery__tool-button--submit:hover {
    color: #ffffff;
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .gallery__tool-button--submit:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .gallery__tool-button--reset {
    color: #283645;
    opacity: 0.1;
    border: solid 3px #283645;
    border-radius: 30px;
    background-color: none;
  }

  .gallery__tool-button--reset:hover {
    color: #283645;
    opacity: 0.3;
    border: 3px solid #283645;
    border-radius: 30px;
  }

  .gallery__tool-button--reset:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #283645;
    border-radius: 30px;
    background-color: #283645;
  }
}
