.gallery__image {
  display: block;
}

.gallery__image--caption {
  background-color: #f2f2f2;
  min-height: 155px;
}

/*Сетка mobile*/
@media (min-width: $mobile) {
  .gallery__title {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    margin: 0 auto;
    text-align: center;
    width: 245px;
    padding-top: 27px;
    padding-bottom: 35px;
  }

  .gallery__list {
    display: block;
    list-style: none;
    padding-left: 22px;
  }

  .gallery__item {
    background-color: #f2f2f2;
    width: 280px;
    margin-bottom: 19px;
  }

  .gallery__info {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    margin-top: auto;
    padding: 11px 77px 20px 6px;
    margin-right: 57px;
  }

  .gallery__icon {
    fill: #d22856;
  }

  .gallery__name {
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 10px;
  }

  .gallery__text--wrapper {
    padding-left: 16px;
    padding-right: 0;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__author {
    font-size: 14px;
    font-weight: 700;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 6px 24px 6px 19px;
    right: 22px;
    top: 0;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }

  .gallery__img {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  /* ФОРМА */

  .editor {
    margin-bottom: 0;
  }

  .editor__form {
    background-color: #f2f2f2;
    padding-bottom: 41px;
  }

  .editor__form-wrapper {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 19px;
  }

  .editor__wrapper {
    margin-bottom: 43px;
    padding-top: 23px;
  }

  .editor-image {
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-right: 30px;
  }

  .editor__header {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    margin: 0;
  }

  .editor__controls {
    top: 119px;
    width: 100%;
    height: 36px;
    margin-left: 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #dddfe0;
  }

  .editortools-list {
    position: relative;
  }

  .editor__controls-scale {
    position: relative;
    box-sizing: border-box;
    margin: 6px auto 0;
    z-index: 1;
    width: 240px;
    padding-right: 0;
    padding-left: 0;
  }

  .editor__controls-bar {
    height: 2px;
    background-color: #283645;
    margin-top: 99px;
  }

  .editor__controls--hidden {
    display: none;
  }

  .editor__controls-toggle {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 14px;
    height: 15px;
    top: -6px;
    left: 14px;
    background-color: #f2f2f2;
    border: 2px solid #cd2856;
    border-radius: 50%;
  }

  .editor__controls-toggle:focus {
    background-color: #d22856;
  }

  .editor__controls-toggle--crop {
    left: 192px;
  }

  .editor__tool {
    position: absolute;
    fill: #d22856;
  }

  .editor__tool--crop {
    top: -84px;
    left: 56px;
  }

  .editor__tool--size {
    top: -83px;
    left: 137px;
  }

  .editor__tool--contrast {
    top: -77px;
    left: 223px;
  }

  .editor__tool:hover {
    fill: #283645;
    opacity: 0.5;
  }

  .editor-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 39px;
    align-items: center;
  }

  .editor__tool-button {
    display: block;
    box-sizing: border-box;
    width: 280px;
    padding: 16px 38px 15px 35px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: none;
    background-color: #f2f2f2;
    letter-spacing: 1px;
  }

  .editor__tool-button:first-child {
    margin-bottom: 12px;
  }

  .editor__tool-button--submit {
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 30px;
  }

  .editor__tool-button--submit:hover {
    color: #ffffff;
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .editor__tool-button--submit:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .editor__tool-button--reset {
    color: #283645;
    opacity: 0.1;
    border: solid 3px #283645;
    border-radius: 30px;
    background-color: none;
  }

  .editor__tool-button--reset:hover {
    color: #283645;
    opacity: 0.3;
    border: 3px solid #283645;
    border-radius: 30px;
  }

  .editor__tool-button--reset:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #283645;
    border-radius: 30px;
    background-color: #283645;
  }

  .editor__size {
    height: 44px;
    width: 44px;
  }

  .editor__fill {
    height: 48px;
    width: 43px;
    fill: #283645;
    opacity: 0.3;
  }

  .editor__contrast {
    width: 32px;
    height: 32px;
    fill: #283645;
    opacity: 0.3;
  }
}

/*Сетка tablet*/
@media (min-width: $tablet) {
  .gallery {
    padding-bottom: 8px;
  }

  .gallery__title {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    width: 440px;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 39px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .gallery__item__panorama {
    width: 100%;
  }

  .gallery__image--panorama {
    display: block;
    height: 509px;
  }

  .gallery__img {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  .gallery__image {
    width: 100%;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    position: relative;
    margin-bottom: 20px;
  }

  .gallery__item--first {
    width: 100%;
    margin-bottom: 50px;
  }

  .gallery__item--tablet {
    width: 300px;
  }

  .gallery__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 23px;
    margin-top: auto;
    padding-left: 28px;
    padding-right: 31px;
    margin-right: 0;
  }

  .gallery__info--panorama {
    position: absolute;
    right: -4px;
    bottom: 49px;
  }

  .gallery__info--secondrow {
    margin-top: 22px;
  }

  .gallery__icon {
    fill: #d22856;
  }

  .gallery__name {
    padding-left: 27px;
    padding-right: 41px;
    padding-top: 24px;
  }

  .gallery__text--wrapper {
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__text--panorama {
    padding-bottom: 26px;
  }

  .gallery__like--panorama {
    padding-right: 17px;
  }

  .gallery__author {
    font-weight: 700;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600px;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 6px 20px 6px;
    right: 20px;
    top: 57px;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #d22856;
  }

  /* ФОРМА */

  .editor {
    margin-bottom: 0;
  }

  .editor__form {
    background-color: #f2f2f2;
    padding-bottom: 57px;
  }

  .editor__form-wrapper {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 57px;
  }

  .editor__wrapper {
    margin-bottom: 70px;
    padding-top: 0;
  }

  .editor-image {
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-right: 48px;
  }

  .editor__header {
    font-size: 18px;
    line-height: 29px;
    color: #283645;
    text-align: center;
    margin: 0;
  }

  .editor__controls {
    top: 119px;
    width: 100%;
    height: 36px;
    margin-left: 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #dddfe0;
  }

  .editor__controls--hidden {
    display: block;
  }

  .editortools-list {
    position: relative;
  }

  .editor__controls-scale {
    position: relative;
    box-sizing: border-box;
    margin: 6px auto 0;
    z-index: 1;
    width: 100%;
    padding-right: 6px;
    padding-left: 52px;
  }

  .editor__controls-bar {
    height: 2px;
    background-color: #283645;
    margin-top: 20px;
  }

  .editor__controls-toggle {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 14px;
    height: 15px;
    top: -6px;
    left: 14px;
    background-color: #f2f2f2;
    border: 2px solid #cd2856;
    border-radius: 50%;
  }

  .editor__controls-toggle:focus {
    background-color: #d22856;
    outline: none;
  }

  .editor__controls-toggle--crop {
    display: block;
    left: 198px;
  }

  .editor__controls-toggle--size {
    display: block;
    left: 77px;
  }

  .editor__controls-toggle--contrast {
    left: 148px;
  }

  .editor__tool {
    position: absolute;
    fill: #d22856;
  }

  .editor__tool--crop {
    top: -11px;
    left: 0;
  }

  .editor__tool--size {
    top: 63px;
    left: 1px;
  }

  .editor__tool--contrast {
    top: 134px;
    left: 5px;
  }

  .editor__tool:hover {
    fill: #283645;
    opacity: 0.5;
  }

  .editor-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 69px;
  }

  .editor__tool-button {
    display: block;
    box-sizing: border-box;
    width: 260px;
    padding: 14px 30px 16px 19px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: none;
    background-color: #f2f2f2;
  }

  .editor__tool-button:first-child {
    margin-bottom: 24px;
  }

  .editor__tool-button--submit {
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 30px;
  }

  .editor__tool-button--submit:hover {
    color: #ffffff;
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .editor__tool-button--submit:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .editor__tool-button--reset {
    color: #283645;
    opacity: 0.1;
    border: solid 3px #283645;
    border-radius: 30px;
    background-color: none;
  }

  .editor__tool-button--reset:hover {
    color: #283645;
    opacity: 0.3;
    border: 3px solid #283645;
    border-radius: 30px;
  }

  .editor__tool-button--reset:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #283645;
    border-radius: 30px;
    background-color: #283645;
  }

  .editor__size {
    height: 22px;
    width: 22px;
  }

  .editor__fill {
    height: 24px;
    width: 22px;
    fill: #d22856;
    opacity: 1;
  }

  .editor__contrast {
    height: 16px;
    width: 16px;
    fill: #d22856;
    opacity: 1;
  }

  .editor .container {
    padding: 0;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .gallery {
    padding-bottom: 10px;
  }

  .gallery__title--wrapper {
    text-align: center;
    padding-top: 41px;
    padding-bottom: 90px;
  }

  .gallery__title {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    width: 640px;
    padding-bottom: 0;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    margin-top: -12px;
    padding-right: 0;
    margin-bottom: 0;
  }

  .gallery__item__panorama {
    width: 100%;
  }

  .gallery__image--panorama {
    display: block;
    height: auto;
  }

  .gallery__item--first {
    width: 100%;
  }

  .gallery__img {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  .gallery__image {
    width: 100%;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    position: relative;
    margin-bottom: 51px;
  }

  .gallery__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 23px;
    margin-top: auto;
    padding-left: 28px;
    padding-right: 31px;
    margin-right: 0;
  }

  .gallery__icon {
    fill: #d22856;
  }

  .gallery__name {
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 41px;
  }

  .gallery__text--wrapper {
    padding-left: 27px;
  }

  .gallery__text {
    margin: 0;
  }

  .gallery__author {
    font-weight: 700;
  }

  .gallery__info--panorama {
    position: absolute;
    right: 0;
    bottom: 24px;
  }

  .gallery__like--panorama {
    padding-right: 18px;
  }

  .gallery__text--panorama {
    padding-bottom: 23px;
  }

  .gallery__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  .gallery__info--secondrow {
    margin-top: 26px;
  }

  .gallery__item--secondrow {
    margin-bottom: 39px;
  }

  .gallery__photo {
    position: relative;
  }

  .gallery__photo-sticker {
    position: absolute;
    padding: 7px 20px 5px;
    right: 130px;
    top: 54px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }

  /* ФОРМА */

  .editor {
    margin-bottom: 66px;
  }

  .editor__form {
    background-color: #f2f2f2;
    padding-bottom: 57px;
    width: 940px;
    margin: 0 auto;
  }

  .editor__form-wrapper {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 57px;
  }

  .editor__wrapper {
    margin-bottom: 66px;
    padding-top: 0;
  }

  .editor-image {
    width: 300px;
    height: 400px;
    margin-left: 79px;
    margin-right: 93px;
  }

  .editor__header {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    margin: 0;
  }

  .editor__controls {
    top: 119px;
    width: 100%;
    height: 36px;
    margin-left: 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #dddfe0;
  }

  .editor__controls--hidden {
    display: block;
  }

  .editortools-list {
    position: relative;
  }

  .editor__controls-scale {
    position: relative;
    box-sizing: border-box;
    margin: 6px auto 0;
    z-index: 1;
    width: 410px;
    padding-right: 30px;
    padding-left: 92px;
  }

  .editor__controls-bar {
    height: 2px;
    background-color: #283645;
    margin-top: 20px;
  }

  .editor__controls-toggle {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 14px;
    height: 15px;
    top: -6px;
    left: 14px;
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
  }

  .editor__controls-toggle:focus {
    background-color: #d22856;
    outline: none;
  }

  .editor__controls-toggle--crop {
    left: 161px;
  }

  .editor__controls-toggle--size {
    left: 337px;
  }

  .editor__controls-toggle--contrast {
    left: 250px;
  }

  .editor__tool {
    position: absolute;
    fill: #d22856;
  }

  .editor__tool--crop {
    top: -21px;
    left: -2px;
  }

  .editor__tool--size {
    top: 52px;
    left: 0;
  }

  .editor__tool--contrast {
    top: 128px;
    left: 4px;
  }

  .editor__tool:hover {
    fill: #283645;
    opacity: 0.5;
  }

  .editor__tool:active {
    fill: #283645;
    opacity: 0.5;
  }

  .editor-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 147px;
  }

  .editor__tool-button {
    display: block;
    box-sizing: border-box;
    width: 183px;
    padding: 14px 38px 17px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: none;
    background-color: #f2f2f2;
  }

  .editor__tool-button:first-child {
    margin-bottom: 0;
  }

  .editor__tool-button--submit {
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 30px;
  }

  .editor__tool-button--submit:hover {
    color: #ffffff;
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .editor__tool-button--submit:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #d22856;
  }

  .editor__tool-button--reset {
    color: #283645;
    opacity: 0.1;
    border: solid 3px #283645;
    border-radius: 30px;
    background-color: none;
  }

  .editor__tool-button--reset:hover {
    color: #283645;
    opacity: 0.3;
    border: 3px solid #283645;
    border-radius: 30px;
  }

  .editor__tool-button--reset:active {
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid #283645;
    border-radius: 30px;
    background-color: #283645;
  }

  .editor__size {
    height: 44px;
    width: 44px;
  }

  .editor__fill {
    height: 48px;
    width: 43px;
  }

  .editor__contrast {
    height: 32px;
    width: 32px;
  }
}
