.advantages {
  background-color: #f2f2f2;
}

.advantages__item {
  margin: 0 auto 30px;
}


.advantages__title__main:first-child {
  margin: 0 auto;
}

.advantages__title__main:last-child {
  margin-bottom: 90px;
  margin-top: 0;
}

.advantages__title__wrapper {
  text-align: center;
}

/*Сетка mobile*/
@media (min-width: $mobile) {
  .advantages__list {
    display: block;
    list-style: none;
  }

  .advantages__image--hidden {
    display: none;
  }

  .advantages__last--image {
    display: block;
    margin: 0 auto;
  }

  .advantages__title {
    text-align: center;
    color: #000000;
  }

  .advantages__title__main {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #283645;
    width: 250px;
  }
}


/*Сетка tablet*/
@media (min-width: $tablet) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .advantages__title__main {
    display: block;
    width: 660px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    color: #283645;
    margin: 20px auto;
  }

  .advantages {
    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 480% auto;
    background-position: 50% 0;
  }

  .advantages__last {
    display: block;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*width: 1400px;*/
    margin: 0 auto;
  }

  .advantages {
    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 480% auto;
    background-position: 50% 0;
  }

  .advantages__description {
    width: 236px;
    text-align: center;
  }

  .advantages__item {
    max-width: 240px;
    margin-top: -150px;
    margin-bottom: 0;
    font-size: 18px;
    background-size: 292px auto;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__title__main {
    display: block;
    width: 740px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    color: #283645;
    margin: 20px auto;
  }

  .advantages__title__main:first-child {
    margin: 0 auto;
  }

  .advantages__title__main:last-child {
    padding-bottom: 90px;
    width: 700px;
  }

  .advantages__image--hidden {
    display: block;
  }

  .advantages__last {
    display: none;
  }
}
