/*Сетка mobile*/
@media (min-width: $mobile) {
  .advantages {
    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 988% auto;
    overflow: hidden;
    position: relative;
  }

  .advantages__description {
    color: #283645;
    text-align: center;
    width: 255px;
    margin: 0 auto;
  }

  .advantages__list {
    display: block;
    list-style: none;
    padding: 0;
  }

  .advantages__image--hidden {
    display: none;
  }

  .advantages__last--image {
    display: block;
    margin: 0 auto;
  }

  .advantages__title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    order: 1;
    margin: 0;
    padding-bottom: 13px;
  }

  .advantages__title__main {
    display: inline-block;
    margin-bottom: 28px;
    margin-top: 40px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #283645;
    text-align: center;
  }

  .advantages__title__main:last-child {
    margin-bottom: 93px;
    margin-top: 0;
  }

  .advantages__item--friend {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .advantages__item {
    padding-bottom: 30px;
  }

  .advantages__item--lastphoto {
    position: absolute;
    left: 84px;
    bottom: -51px;
  }

  .advantages__description--last {
    padding-bottom: 277px;
  }
}

/*Сетка tablet*/
@media (min-width: $tablet) {
  .advantages__list {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .advantages__description {
    text-align: left;
    padding-bottom: 16px;
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
  }

  .advantages__title {
    text-align: left;
    margin: 0;
    order: 0;
    padding-bottom: 2px;
  }

  .advantages__title__main {
    display: block;
    width: 592px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: #283645;
    margin: 20px auto;
  }

  .advantages__title__main:first-child {
    margin: 0 auto;
  }

  .advantages__title__main:last-child {
    padding-bottom: 28px;
    width: 580px;
  }

  .advantages {
    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 680% auto;
    background-position: 20% 0;
    position: relative;
    margin-bottom: 19px;
  }

  .advantages__item--lastphoto {
    position: absolute;
    left: 22px;
    top: 244px;
  }

  .advantages__description--last {
    padding-bottom: 0;
  }

  .advantages__item {
    padding-left: 308px;
    padding-bottom: 19px;
  }

  .advantages__item--friend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .advantages__last {
    display: block;
  }

  .advantages__title-wrapper {
    padding-top: 0;
    margin-top: 26px;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    padding: 23px 27px 0;
    text-align: center;
    width: 300px;
  }

  .advantages__title-wrapper {
    padding-top: 30px;
    text-align: center;
  }

  .advantages__image--last {
    display: block;
    position: relative;
    top: 0;
    left: 4px;
  }

  .advantages__item--friend {
    display: flex;
    flex-direction: column;
  }

  .advantages {
    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 787% auto;
    background-position: 50% 0;
    margin-bottom: 0;
  }

  .advantages__item {
    margin-top: -107px;
    margin-bottom: 0;
    font-size: 18px;
    background-size: 292px auto;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    padding-top: 55px;
    width: 235px;
    order: 0;
  }

  .advantages__title__main {
    display: block;
    width: 740px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    color: #283645;
    margin: 20px auto;
  }

  .advantages__title__main:first-child {
    margin: 0 auto;
  }

  .advantages__title__main:last-child {
    padding-bottom: 90px;
    width: 700px;
  }

  .advantages__image--hidden {
    display: block;
  }

  .advantages__last {
    display: none;
  }
}
