.contacts__text {
  font-size: 24px;
  font-weight: 300px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700px;
}

.contacts__link {
  font-size: 24px;
  font-weight: 300px;
  color: #d22856;
}
