.download__background {
  font-size: 24px;
  font-weight: 300px;
}

.download__text {
  font-size: 18px;
  font-weight: 300px;
  color: #ffffff;
}

.download__button {
  display: block;
  max-width: 280px;
  margin: 0 auto 35px;
  padding: 0 35px;
  border: 3px solid #fff;
  border-radius: 25px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
}

.download__background__text {
    display: none;
}

.download__item {
  display: block;
    width: 80px;

}


/*Сетка mobile*/
@media (min-width: $mobile) {

   .download__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .download {
    min-height: 460px;
    padding: 0 20px;
    background: url(../img/iphone-hand-mobile.png)50% 175px no-repeat,url(../img/bg-back-mobile.jpg)50% 0 no-repeat;
    background-size: contain,cover;
    margin-top: 326px;
  }

}

/*Сетка tablet*/
@media (min-width: $tablet) {
  .download__background {
    background-image: url("img/bg-back-tablet.png");
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {

  .download {
    padding-top: 0px;
    background: url("../img/iphone-hand-desktop.png")75% 100% no-repeat,url("../img/bg-back-desktop.jpg")100% 100% no-repeat;
  }

  .download__background__text {
    display:block;
    color: #ffffff;
    padding: 220px 0 0;
    font-size: 50px;
    line-height: 60px;
    max-width: 300px;
    text-align: center;
    margin: 0 10px;
  }

  .download__text {
    font-weight: 300;
  }

  .download__list {
    display: flex;
    flex-wrap: wrap;
    justifyc-content: space-between;

  }

  .download__button {
    margin-bottom: 70px;
    margin-top:30px;
  }


  .download__wrapper {
    width: 300px;
    margin: 0 10px;
    bottom: 120px;
  }

  .download__background {
    min-height: 855px;
    padding: 0 270px;

    font-size: 50px;
  }
}
