@media (min-width: $mobile) {
  .effect {
    display: none;
  }
}

@media (min-width: $tablet) {
  .effect {
    display: block;
    background: #ffffff;
  }

  .effect__container {
    margin-top: 37px;
    padding-right: 0;
    width: 520px;
    line-height: 35px;
  }

  .effect__link {
    display: block;
    margin-top: 7px;
    line-height: 24px;
    font-size: 14px;
    text-decoration: underline;
    color: #d22856;
  }

  .effect__header {
    margin: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 11px;
    width: 170px;
  }

  .effect__text {
    line-height: 1.8em;
    margin: 0;
    width: 296px;
  }

  .effect__wrapper {
    padding: 41px 2px 3px 21px;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }

  .effect__wrapper::before {
    width: 374px;
    height: 349px;
    margin: 0 72px 0 -1px;
    display: block;
    background: url("../img/icon-timer.svg") no-repeat scroll;
    content: " ";
    background-size: contain;
  }

  .effect__wrapper::after {
    width: 202px;
    height: 202px;
    position: absolute;
    top: 95px;
    left: 39px;
    content: "24";
    color: #d22856;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    line-height: 163px;
    border: 15px solid #d22856;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

@media (min-width: $desktop) {
  .effect {
    display: block;
    background: #f2f2f2;
    margin-top: -19px;
  }

  .effect__container {
    width: 566px;
    margin-top: 134px;
  }

  .effect__header {
    margin: 0;
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    width: 100%;
  }

  .effect__text {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-top: 13px;
    margin: 0;
    width: 519px;
  }

  .effect__link {
    display: block;
    padding-top: 32px;
    line-height: 30px;
    font-size: 18px;
    text-decoration: underline;
    color: #d22856;
    margin-top: 0;
  }

  .effect__wrapper {
    padding: 16px 0 63px;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }

  .effect__wrapper::before {
    width: 300px;
    height: 348px;
    margin: 37px 65px 0 11px;
    display: block;
    background: url("../img/icon-timer.svg") no-repeat scroll;
    content: " ";
  }

  .effect__wrapper::after {
    width: 253px;
    height: 253px;
    position: absolute;
    top: 126px;
    left: 33px;
    content: "24";
    color: #d22856;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    line-height: 210px;
    border: 15px solid #d22856;
    border-radius: 50%;
    background-color: #ffffff;
  }
}
