.main-nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.main-nav__link {
  color: #ffffff;
  text-transform: uppercase;
}


/*Сетка mobile*/
@media (min-width: $mobile) {
  .main-nav__list {
    display: block;
  }
}

/*Сетка tablet*/
@media (min-width: $tablet) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}
