@media (min-width: $desktop) {
  .map {
    position: relative;
  }

  .map__wrapper{
    display: block;
    position: absolute;
    width: 630px;
    height: 257px;
  }

  .map__triangle {
    fill: green;
  }

  .map__code {
    border: 0;

    width: 100%;
  }
}
