@media (min-width: $mobile) {
  .map {
    position: relative;
  }

  .map__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .map__triangle {
    fill: #ffffff;
  }

  .map__code {
    border: 0;
    height: 200px;
    width: 100%;
  }
}


@media (min-width: $tablet) {
  .map {
    position: relative;
  }

  .map__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .map__triangle {
    fill: #ffffff;
  }

  .map__code {
    border: 0;
    height: 370px;
    width: 100%;
  }
}


@media (min-width: $desktop) {
  .map {
    position: relative;
  }

  .map__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .map__triangle {
    fill: #ffffff;
  }

  .map__code {
    border: 0;
    height: 512px;
    width: 100%;
  }
}

  @media  screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   /* IE10+ specific styles go here */
   .map__wrapper {
    position: absolute;
    top: -161px;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
