.prices {
  background-color: #f2f2f2;
}

.prices__title {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.prices__text {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.prices__header {
  background-color: #283645;
}

.prices__content {
  background-color: #ffffff;
}
