.social__button {
  display: block;
  width: 51px;
  height: 51px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 12px;
  background-position: 50% 50%;
}

.social__link {
  position: absolute;
  fill: #d22856;
}

.social__list {
  list-style:none;
}

.copyright__text {
  margin-right: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}


.page-footer__copyright {
  padding-top: 12px;
}

/*Для телефона*/

@media (min-width: $mobile) {
  .page-footer__hidden {
    display: none;
  }
}

/*Сетка для планшета*/
@media (min-width: $tablet) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .social__list {
    display: flex;
    flex-wrap: wrap;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
  }

  .social__list {
    display: flex;
    flex-wrap: wrap;
  }
}
