/*Для телефона*/

@media (min-width: 320px) {
  .page-footer__hidden {
    display: none;
  }
}

/*Сетка для планшета*/
@media (min-width: 660px) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .social__list {
    display: flex;
    flex-wrap: wrap;
  }
}

/*Сетка desktop*/

@media (min-width: 1200px) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .social__list {
    display: flex;
    flex-wrap: wrap;
  }
}
