.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 12px;
  background-position: 50% 50%;
}

.social__link {
  fill: #d22856;
}

.social__list {
  list-style: none;
}


/*Для телефона*/

@media (min-width: $mobile) {
  .page-footer__hidden {
    display: none;
  }

  .page-footer--photo {
    display: block;
  }

  .footer-wrapper--photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  .social__list {
    display: flex;
  }

  .page-footer {
    text-align: center;
  }

  .page-footer--form {
    display: block;
    margin-top: 40px;
  }

  .footer-wrapper--form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-footer__copyright {
    display: flex;
    margin-bottom: 50px;
  }

  .copyright__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    margin-top: 8px;
    margin-right: 14px;
  }

  .copyright__image {
    fill: #d22856;
  }

  .footer__logo {
    margin-bottom: 24px;
  }

  .page-footer__social {
    margin-right: 28px;
    margin-bottom: 25px;
  }

  .footer__logo-tablet,
  .footer__logo-desktop {
    display: none;
  }

  .footer__logo-mobile {
    display: block;
  }
}

/*Сетка для планшета*/

@media (min-width: $tablet) {
  .page-footer__hidden {
    display: block;
    margin-top: 0;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-wrapper--photo {
    margin-bottom: 0;
    margin-top: 0;
  }

  .social__list {
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer__copyright {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }

  .copyright__link {
    margin-top: 15px;
  }

  .page-footer__social {
    margin-right: 48px;
  }

  .copyright__image {
    fill: #d22856;
  }

  .copyright__image:hover {
    color: #283645;
  }

  .copyright__image:active {
    color: #283645;
    opacity: 0.3;
  }

  .copyright__text {
    font-size: 14px;
    line-height: 18px;
    margin-right: 14px;
  }

  .footer__logo {
    margin-bottom: 37px;
  }

  .footer__logo-mobile,
  .footer__logo-desktop {
    display: none;
  }

  .footer__logo-tablet {
    display: block;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .page-footer__hidden {
    display: block;
    margin-top: 17px;
  }

  .footer__logo {
    margin-bottom: 32px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 940px;
  }

  .social__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 41px;
  }

  .page-footer__copyright {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .page-footer__social {
    margin-right: 22px;
    margin-top: 12px;
  }

  .copyright__text {
    font-size: 18px;
    line-height: 18px;
    margin-top: -13px;
  }

  .copyright__link {
    padding-top: 0;
    margin-top: 0;
  }

  .social__button:hover {
    border: solid 3px #283645;
  }

  .social__button:active {
    border: solid 3px #283645;
    opacity: 0.1;
  }

  .social__link:active {
    opacity: 0.3;
  }

  .copyright__image {
    fill: #d22856;
  }

  .copyright__image:hover {
    fill: #283645;
  }

  .copyright__image:active {
    fill: #283645;
    opacity: 0.3;
  }

  .footer__logo-mobile,
  .footer__logo-tablet {
    display: none;
  }

  .footer__logo-desktop {
    display: block;
  }

  .page-footer__social--photo {
    margin-right: 12px;
  }


  .page-footer__social--form {
    margin-right: 13px;
  }
}
