@media (min-width: $mobile) {
  .header__logo-desktop,
  .header__logo-tablet {
    display: none;
  }

  .header {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    background-color: #283645;
    z-index: 99;
  }

  .header__wrap {
    position: relative;
    height: 67px;
  }

  .header__wrap--opened {
    background: rgba(0, 0, 0, 0.3);
  }

  .header__logo {
   height: 52px;
   align-self: flex-start;
   margin-left: 20px;
   margin-top: 22px;
   padding: 0;
  }

  .header__logo-mobile {
    fill: #ffffff;
  }

  .header .container {
    flex-direction: column;
    max-width: none;
    padding: 0;
  }
}


@media (min-width: $tablet) {
  .header__logo-mobile {
    display: none;
  }

  .header__logo-tablet {
    display: block;
    fill: #ffffff;
  }

  .header__logo {
    height: 52px;
    align-self: flex-start;
    margin-top: 6px;
     padding: 0;
  }

  .header .container {
    flex-direction: column;
    max-width: none;
    padding: 22px 22px 0;
  }
}

@media (min-width: $desktop) {
  .header {
     display: flex; align-items: center;
    min-height: 107px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    max-width: 960px;
  }

  .header__logo-mobile,
  .header__logo-tablet {
    display: none;
  }

  .header__logo-desktop {
    display: block;
    padding-bottom: 0;
    height: auto;
  }

  .header__logo {
    height: 52px;
    align-self: center;
    margin-top: 0;
  }

  .header__logo-desktop:hover {
    fill: #d22856;
    cursor: pointer;
  }

  .header__logo-desktop:active {
    opacity: 0.3;
    cursor: pointer;
  }
}
