@media (min-width: $mobile) {
  .header__logo-desktop,
  .header__logo-tablet {
    display: none;
  }

  .header {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    background-color: #283645;
    z-index: 99;
  }

  .header__wrap {
    position: relative;
    height: 67px;
  }

  .header__wrap--opened {
    background: rgba(0, 0, 0, 0.3);
  }

  .header__logo {
    display: block;
    height: 22px;
    margin-top: 22px;
    padding-left: 20px;
  }

  .header__logo-mobile {
    fill: #ffffff;
  }
}


@media (min-width: $tablet) {
  .header__logo-mobile {
    display: none;
  }

  .header__logo-tablet {
    display: block;
    fill: #ffffff;
  }

  .header__logo {
    display: block;
    max-width: 150px;
    height: 110px;
    padding-left: 20px;
    padding-top: 27px;
    margin-top: 0;
  }
}

@media (min-width: $desktop) {
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    /*max-width: 960px;*/
    min-height: 107px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header__logo-mobile,
  .header__logo-tablet {
    display: none;
  }

  .header__logo-desktop {
    display: block;
    padding-bottom: 0;
    height: auto;
  }

  .header__logo {
    padding-left: 90px;
    margin: 0;
  }

  .header__logo-desktop:hover {
    fill: #d22856;
    cursor: pointer;
  }

  .header__logo-desktop:active {
    opacity: 0.3;
    cursor: pointer;
  }
}
