/*Сетка mobile*/

@media (min-width: $mobile) {
  .main-nav {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    margin: 0;
  }

  .main-nav__list {
    display: block;
    text-align: center;
    background-color: #283645;
    list-style: none;
    border-bottom: 1px solid #000000;
    padding: 0;
    margin: 0;
  }

  .main-nav__link {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 64px;
  }

  .main-nav__item {
    box-shadow: 0 -1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }

  .main-nav__toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 7px;
    width: 50px;
    height: 23px;
    border: none;
    z-index: 9;
    background: 0 0;
    cursor: pointer;
    outline: none;
  }

  .main-nav__logo {
    fill: #ffffff;
  }

  .main-nav__toggle-close {
    display: none;
    fill: #ffffff;
  }

  .main-nav__toggle-close:hover {
    fill: #d22856;
  }

  .main-nav__toggle-close:active {
    fill: #d22856;
    opacity: 0.3;
  }
}

/*Сетка tablet*/

@media (min-width: $tablet) {
  .main-nav {
    padding-top: 0;
    margin-top: 29px;
  }

  .main-nav__list {
    display: block;
    text-align: center;
    margin: 0;
    background-color: #283645;
    list-style: none;
  }

  .main-nav__toggle {
    display: block;
    position: absolute;
    top: 44px;
    right: 5px;
    width: 50px;
    height: 23px;
    border: none;
    z-index: 9;
    background: 0 0;
    cursor: pointer;
    outline: none;
  }

  .main-nav__link:hover {
    color: #d22856;
  }

  .main-nav__link:active {
    color: #d22856;
    opacity: 0.3;
  }

  .main-nav__toggle-close {
    display: none;
    fill: #ffffff;
  }

  .main-nav__toggle-close:hover {
    fill: #d22856;
  }

  .main-nav__toggle-close:active {
    fill: #d22856;
    opacity: 0.3;
  }
}

/*Сетка desktop*/

@media (min-width: $desktop) {
  .main-nav {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .main-nav__toggle-close {
    display: none;
  }

  .main-nav__item {
    background: 0 0;
    box-shadow: none;
    padding-right: 80px;
  }

  .main-nav__item:last-child {
    padding-right: 0;
    margin-right: 0;
  }

  .main-nav__link {
    line-height: 40px;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
  }

  .main-nav__link:hover {
    color: #d22856;
  }

  .main-nav__link:active {
    color: #ffffff;
    opacity: 0.3;
  }

  .main-nav__link--active {
    border-bottom: 2px solid #ffffff;
  }
}
